
.btnSize{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

.pFuncBtnTitleBar{
    -fx-background-color: -pBackgroundColor;
}
.pFuncBtnTitleBar:focused{
}
.pFuncBtnTitleBar:hover{
    -fx-background-color: -pBackgroundColorSel;
    -fx-font-size: 1.2em;
}
.pFuncBtnTitleBar:focused:hover{
    -fx-background-color: -pBackgroundColorSel;
    -fx-font-size: 1.2em;
 }
.pFuncBtnTitleBar:pressed:focused:hover{
    -fx-background-color: -pBackgroundColorSel;
    -fx-font-size: 1.2em;
}


.pFuncBtnTitleBarSel{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: lightgrey;
    -fx-font-size: 1.3em;
}
.pFuncBtnTitleBarSel:focused{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: -pGuiColor;
    -fx-font-size: 1.3em;
}
.pFuncBtnTitleBarSel:hover{
    -fx-padding: 4 14 4 14;
    -fx-border-width: 2px;
    -fx-border-color: -pGuiColor;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: black;
    -fx-font-size: 1.3em;
}
.pFuncBtnTitleBarSel:focused:hover{
    -fx-padding: 4 14 4 14;
    -fx-border-width: 2px;
    -fx-border-color: -pGuiColor;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: black;
    -fx-font-size: 1.3em;
 }

.pFuncBtnSel:pressed:focused:hover{
    -fx-padding: 3 13 3 13;
    -fx-border-width: 3px;
    -fx-border-color: -pGuiColor;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: black;
    -fx-font-size: 1.3em;
}

