/*  ========================= */
/*  Menü */


.btnProgMenu{
    -fx-padding: 1 10;
    -fx-background-color: -pBackgroundColor;
    -fx-font-weight: normal;
}
.btnProgMenu:focused{
    -fx-padding: 1 10;
    -fx-border-width: 1;
}
.btnProgMenu:hover{
    -fx-padding: 0 9;
    -fx-border-width: 2px;
}
.btnProgMenu:focused:hover{
    -fx-padding: 0 9;
    -fx-border-width: 2px;
 }
.btnProgMenu:pressed:focused:hover{
    -fx-padding: 0 9;
    -fx-border-width: 2px;
}

.btnProgMenu > .arrow-button{
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}
.btnProgMenu > .arrow-button > .arrow{
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}

.btnProgMenuSmall{
    -fx-padding: 1 1;
    -fx-border-width: 1;
    -fx-border-radius: 50;
    -fx-background-color: -pBackgroundColor;
    -fx-background-radius: 50;
    -fx-font-weight: normal;
}
.btnProgMenuSmall:focused{
    -fx-padding: 1 1;
    -fx-border-width: 1;
}
.btnProgMenuSmall:hover{
    -fx-padding: 0 0;
    -fx-border-width: 2px;
}
.btnProgMenuSmall:focused:hover{
    -fx-padding: 0 0;
    -fx-border-width: 2px;
 }
.btnProgMenuSmall:pressed:focused:hover{
    -fx-padding: 0 0;
    -fx-border-width: 2px;
}

