/* Func-Button */

.pFuncBtn{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-border-color: -pGuiColor;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: -pBackgroundColor;

    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}
.pFuncBtn:focused{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-border-color: grey;
    -fx-background-color: -pBackgroundColor;
}
.pFuncBtn:hover{
    -fx-padding: 4 14 4 14;
    -fx-border-width: 2px;
    -fx-border-color: -pGuiColor;
    /*-fx-background-color: -pBackgroundColor;*/
    -fx-background-color: -pBackgroundColorSel;
}
.pFuncBtn:focused:hover{
    -fx-padding: 4 14 4 14;
    -fx-border-width: 2px;
    -fx-border-color: -pGuiColor;
    /*-fx-background-color: -pBackgroundColor;*/
    -fx-background-color: -pBackgroundColorSel;
 }
.pFuncBtn:pressed:focused:hover{
    -fx-padding: 3 13 3 13;
    -fx-border-width: 3px;
    -fx-border-color: -pGuiColor;
    /*-fx-background-color: -pBackgroundColor;*/
    -fx-background-color: -pBackgroundColorSel;
}


/*.button{
    -fx-border-width: 1;
    -fx-border-color: -pGuiColor;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: -pBackgroundColor;
}
.button:hover{
    *//*-fx-background-color: -pBackgroundColor;*//*
    -fx-background-color: -pBackgroundColorSel;
}
.button:focused:hover{
    *//*-fx-background-color: -pBackgroundColor;*//*
    -fx-background-color: -pBackgroundColorSel;
 }
.button:pressed:focused:hover{
    *//*-fx-background-color: -pBackgroundColor;*//*
    -fx-background-color: -pBackgroundColorSel;
}*/

/*LoadFilmlistButton wenn neue Liste verfügbar*/
.btnFilmlist {
}
.btnFilmlistNewList {
    -fx-padding: 3 13 3 13;
    -fx-border-width: 3px;
    -fx-border-color: -pGuiColor;
    -fx-text-fill: -pGuiColor;
}





/* SmallSearch */
.btnPFuncSearch{
}
.btnPFuncSearch:pressed{
}

/* LoadFilmlist*/
.btnPFuncFilmList{
}
.btnPFuncFilmList:pressed{
}


/*  ========================= */
/*  Table */
.btnPFuncTable{
}
.btnPFuncTable:pressed{
}


/*  ========================= */
/*  Table */
.btnPFuncStartDialog{
}
.btnPFuncStartDialogSel{
}
.btnPFuncStartDialog:pressed{
}
.btnPFuncStartDialogSel:pressed{
}
