
.btnStartDialog{
    -fx-padding: 2 25 2 25;
    -fx-border-width: 1;
    -fx-border-color: #4d4d4d;
    -fx-border-radius: 50;
    -fx-background-radius: 50;

    -fx-alignment: center;
    -fx-font-weight: bold;
}
.btnStartDialog:focused{
    -fx-padding: 2 25 2 25;
    -fx-border-width: 1;
    -fx-border-color: #4d4d4d;
}
.btnStartDialog:hover{
    -fx-padding: 1 24 1 24;
    -fx-border-width: 2;
    -fx-border-color: #0052d6;
}
.btnStartDialog:focused:hover{
    -fx-padding: 1 24 1 24;
    -fx-border-width: 2;
    -fx-border-color: #0052d6;
}
.btnStartDialog:pressed{
    -fx-padding: 0 23 0 23;
    -fx-border-width: 3;
    -fx-border-color: #0052d6;
}
.btnStartDialog:focused:pressed{
    -fx-padding: 0 23 0 23;
    -fx-border-width: 3;
    -fx-border-color: #0052d6;
}

.btnStartDialogSel{
    -fx-padding: 1 24 1 24;
    -fx-border-width: 2;
    -fx-border-color: #0052d6;
    -fx-background-color: #dddddd;
    -fx-text-fill: -text-color-blue;
}
.btnStartDialogSel:focused{
    -fx-padding: 1 24 1 24;
    -fx-border-width: 2;
    -fx-border-color: #0052d6;
    -fx-background-color: #dddddd;
}
.btnStartDialogSel:hover{
    -fx-padding: 1 24 1 24;
    -fx-border-width: 2;
    -fx-border-color: #0052d6;
    -fx-background-color: #dddddd;
}
.btnStartDialogSel:focused:hover{
    -fx-padding: 1 24 1 24;
    -fx-border-width: 2;
    -fx-border-color: #0052d6;
    -fx-background-color: #dddddd;
}
.btnStartDialogSel:pressed{
    -fx-padding: 0 23 0 23;
    -fx-border-width: 3;
    -fx-border-color: #0052d6;
    -fx-background-color: #dddddd;
}
.btnStartDialogSel:focused:pressed{
    -fx-padding: 0 23 0 23;
    -fx-border-width: 3;
    -fx-border-color: #0052d6;
    -fx-background-color: #dddddd;
}

.btnStartDialog > .arrow-button{
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}
.btnStartMenu > .arrow-button > .arrow{
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}
