
.btnTable{
    -fx-padding: 5 10;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: -pBackgroundColor;
    -fx-font-weight: normal;
}
.btnTable:focused{
    -fx-padding: 5 10;
    -fx-border-width: 1;
}
.btnTable:hover{
    -fx-padding: 4 9;
    -fx-border-width: 2px;
}
.btnTable:focused:hover{
    -fx-padding: 4 9;
    -fx-border-width: 2px;
 }
.btnTable:pressed:focused:hover{
    -fx-padding: 4 9;
    -fx-border-width: 2px;
}
