
.btnToolBar{
    -fx-padding: 5;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-font-weight: normal;
}
.btnToolBar:focused{
    -fx-padding: 5;
    -fx-border-width: 1;
}
.btnToolBar:hover{
    -fx-padding: 4;
    -fx-border-width: 2px;
}
.btnToolBar:focused:hover{
    -fx-padding: 4;
    -fx-border-width: 2px;
 }
.btnToolBar:pressed:focused:hover{
    -fx-padding: 4;
    -fx-border-width: 2px;
}