
.btnSize{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

.pFuncBtnTabBar{
    -fx-background-color: -pBackgroundColor;
}
.pFuncBtnTabBar:focused{
}
.pFuncBtnTabBar:hover{
    -fx-background-color: -pBackgroundColorSel;
    -fx-font-size: 1.2em;
}
.pFuncBtnTabBar:focused:hover{
    -fx-background-color: -pBackgroundColorSel;
    -fx-font-size: 1.2em;
 }
.pFuncBtnTabBar:pressed:focused:hover{
    -fx-background-color: -pBackgroundColorSel;
    -fx-font-size: 1.2em;
}


.pFuncBtnTabBarSel{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: lightgrey;
    -fx-font-size: 1.3em;
}
.pFuncBtnTabBarSel:focused{
    -fx-padding: 5 15 5 15;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: -pGuiColor;
    -fx-font-size: 1.3em;
}
.pFuncBtnTabBarSel:hover{
    -fx-padding: 4 14 4 14;
    -fx-border-width: 2px;
    -fx-border-color: -pGuiColor;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: black;
    -fx-font-size: 1.3em;
}
.pFuncBtnTabBarSel:focused:hover{
    -fx-padding: 4 14 4 14;
    -fx-border-width: 2px;
    -fx-border-color: -pGuiColor;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: black;
    -fx-font-size: 1.3em;
 }

.pFuncBtnSel:pressed:focused:hover{
    -fx-padding: 3 13 3 13;
    -fx-border-width: 3px;
    -fx-border-color: -pGuiColor;
    -fx-background-color: -pGuiColor;
    -fx-text-fill: black;
    -fx-font-size: 1.3em;
}

