
.btnToolBar{
    -fx-padding: 3;
    -fx-font-weight: normal;
}
.btnToolBar:focused{
    -fx-padding: 3;
    -fx-border-width: 1;
}
.btnToolBar:hover{
    -fx-padding: 2;
    -fx-border-width: 2px;
}
.btnToolBar:focused:hover{
    -fx-padding: 2;
    -fx-border-width: 2px;
 }
.btnToolBar:pressed:focused:hover{
    -fx-padding: 2;
    -fx-border-width: 2px;
}