/*  Programmweites style sheet */

/* =========================================== */
.alignCenter {
  -fx-alignment: center;
}
.alignCenterPadding_10 {
  -fx-alignment: center;
  -fx-padding: 0 10 0 10;
}
.alignCenterPadding_5 {
  -fx-alignment: center;
  -fx-padding: 0 5 0 5;
}
.alignCenterRight {
  -fx-alignment: center-right;
}
.alignCenterRightPadding_10 {
  -fx-alignment: center-right;
  -fx-padding: 0 10 0 0;
}
.alignCenterRightPadding_25 {
  -fx-alignment: center-right;
  -fx-padding: 0 25 0 0;
}
.alignCenterLeft {
  -fx-alignment: center-left;
}
.alignCenterLeftPadding_10 {
  -fx-alignment: center-left;
  -fx-padding: 0 0 0 10;
}

/* =========================================== */
/* PFilterTextField */
.PFilterTextField .button{
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}

.PFilterTextField .text-field{
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

/* =========================================== */
/* PFilterComboBoxObject */
.PFilterComboBoxObject .button{
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}

.PFilterComboBoxObject .combo-box-base{
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

.PYearPicker > * {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}



/* =========================================== */
/* farblich abgesetzter Bereich in vielen Panes/Dialogen*/
.extra-pane {
    -fx-background-color: -style-extra-pane-color;
    -fx-background-radius: 3px;
    -fx-border-color: #939a9f;
}

/* =========================================== */
/* ist nur ein Strich als Trenner: im FilmFilter*/
 .pseperator1 .line {
     -fx-border-style: solid;
     -fx-border-width: 0 0 1 0; /* makes really one-pixel-border */
     -fx-border-color: -pGuiColor;
 }

 .pseperator2 .line {
     -fx-border-style: solid;
     -fx-border-width: 0 0 2 0; /* makes really one-pixel-border */
     -fx-border-color: -pGuiColor;
 }

 .pseperator3 .line {
     -fx-border-style: solid;
     -fx-border-width: 0 0 3 0; /* makes really one-pixel-border */
     -fx-border-color: -pGuiColor;
 }

/* sind Rahmen im Programm */
.pBorder-1 {
    -fx-border-color: -pGuiColor;
    -fx-border-width: 1px;
}
.pBorder-2 {
    -fx-border-color: -pGuiColor;
    -fx-border-width: 2px;
}


/* ================= */
/* Button in den Alert-Dialogen, Info-Panes, .. */
.close-pane {
    -fx-padding: 3;
    -fx-background-color: -style-extra-pane-color;
}
.close-button  {
    -fx-background-radius: 18;
    -fx-min-width: 18;
    -fx-min-height: 18;
    -fx-max-width: 18;
    -fx-max-height: 18;

    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-border-color: -pGuiColor;

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/* Button zum Abkoppeln des Dialogs */
.rip-button  {
    -fx-background-radius: 18;
    -fx-min-width: 18;
    -fx-min-height: 18;
    -fx-max-width: 18;
    -fx-max-height: 18;

    -fx-border-radius: 20;
    -fx-border-width: 1;
    -fx-border-color: -pGuiColor;

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


/* =========================================== */
/* P2CboCheckBoxListString (Sender) mit button */
.cbo-menu{
    -fx-padding: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.cbo-menu > .arrow-button > .arrow {
    -fx-background-color: #575757;
}
.cbo-menu-item{
    -fx-background-color: transparent;
}
.cbo-menu-button {
    -fx-padding: 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 0.9em;
}
.cbo-menu-button:pressed{
    -fx-padding: 0;
    -fx-border-width: 1;
    -fx-background-color: #939393;
    -fx-font-weight: bold;
}
.cbo-menu-button:focused{
    -fx-background-color: #939393;
}
.cbo-menu-button:hover{
    -fx-background-color: #939393;
}
.cbo-menu-button:focused:hover{
    -fx-background-color: #939393;
}
.cbo-menu-button:pressed:focused:hover{
    -fx-background-color: #939393;
}


/* =========== */
/* RangeSlider*/
/*
.range-slider .range-bar {
    -fx-background-color: -fx-text-base-color;
    -fx-background-color: #a1a1a1;
}
*/
