/*  style sheet for the dark-theme */


/* Tabelle */
.table-view{
   -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: black;
}
.table-row-cell:odd{
    -fx-background-color: derive(-fx-control-inner-background, 0%);
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-control-inner-background, 10%);
}

.table-row-cell:hover {
    -fx-background-color: derive(-fx-control-inner-background, 25%);
}
.table-row-cell:selected{
    -fx-background-color: derive(-fx-control-inner-background, 30%);
}
.table-row-cell:selected:hover{
    -fx-background-color: derive(-fx-control-inner-background, 40%);
}

/* damit leere Tabellenzeilen nicht angezeigt werden */
.table-row-cell:empty {
    -fx-background-color: transparent;
 }
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
 }
