/*  style sheet for the dark-theme */

/* tabs of the tabpane*/

/*
.tab .tab-label {
      -fx-text-fill: #f0f0f0;
}
.tab:selected .tab-label {
    -fx-text-fill: #bce8ff;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
     -fx-background-color: transparent, -lin-grad-1, -rad-grad-1;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
     -fx-border-color: -style-tab-border-color-1, transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
     -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2, transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab:pressed {
     -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2;
}
*/
