/*  style sheet for the dark-theme */


/* Tabelle */
.table-view{
   -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: #9a9a9a;
}

.table-row-cell:odd{
    -fx-background-color: derive(-fx-control-inner-background, 20%);
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-control-inner-background, 30%);
}

.table-row-cell:hover {
    -fx-background-color: derive(-fx-control-inner-background, 75%);
}
.table-row-cell:selected{
    -fx-background-color: #8ebae1;
}
.table-row-cell:selected:hover{
    -fx-background-color: derive(-fx-control-inner-background, 200%);
    -fx-text-background-color: black;
}

/* damit leere Tabellenzeilen nicht angezeigt werden */
.table-row-cell:empty {
    -fx-background-color: transparent;
 }
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
 }
