
.p2Notify {
    -fx-background-color : rgba(15, 15, 15, 0.8);
    /*-fx-background-radius: 5;*/
    -fx-effect           : innershadow(two-pass-box, rgba(255, 255, 255, 0.6), 5.0, 0.25, 0, 0);
    -foreground-color    : white;
    -icon-color          : white;
}

.p2Notify .title {
    -fx-font-size  : 1.083333em;
    -fx-font-weight: bold;
    -fx-text-fill  : -foreground-color;
}
.p2Notify .message {
    -fx-font-size       : 1.0em;
    -fx-content-display : left;
    -fx-graphic-text-gap: 10;
    -fx-text-fill       : -foreground-color;
}
