/*  style sheet for the dark-theme */

.root {
    -fx-base: #2b2b2b;/*Hintergrund gesamtes GUI*/
    -fx-accent: #e7eff7;/*Menü: selektiert*/
    /*-fx-default-button: #7f878f;*/
    -fx-focus-color: #dfdfdf;/*selektierte Elemente*/
    -fx-faint-focus-color: #efefef22;/*selektierte Elemente*/
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );/*Menütext, selektiert*/
    -fx-focused-mark-color : -fx-focused-text-base-color ;/*Untermenü: Pfeil*/

    -tab-button-1: #4a4a4a;
    -tab-button-2: #545454;
    -tab-button-3: rgba(50,50,50,0);

    -style-tab-border-color-1: #003ca0;
    -style-tab-border-color-2: #003cff;

    -style-extra-pane-color: derive(-fx-base, 45%);

    -lblSelectedLines-color-1: derive(-fx-base, 70%);
    -lblSelectedLines-color-2: derive(-fx-base, 40%);

    -text-sel-color: #00b3ff;
    -dark-blue: #00374d;
}


/* ========================================================================== */
/* sind javafx gui Elemente */
/* ========================================================================== */


/* sind alle Context-Menüs */
.context-menu {
    -fx-background-color: #44484a;
    -fx-border-color: #939a9f;
}
.menu-item  {
    -fx-background-radius: 3px;
}


/* ComboBox */
/*.combo-box-popup .list-view .list-cell:hover {
    *//* ist der markierte Eintrag in der Liste beim Auswählen mit der Maus*//*
    -fx-background-color: #b7bccf;
    -fx-text-fill: red;
}*/
/*.podder-button:selected .podder .dot {
    -fx-background-color: #0b99c9;
    -fx-background-insets: 0;
}*/


/* Text in Eingabefeldern */
.text-input:focused {
    -fx-highlight-text-fill: ladder(
        -fx-highlight-fill,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
}


/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb {
    -fx-background-color: #55595b, linear-gradient(from 50% 100% to 50% 50% , repeat, #B3B3B3, #6F777E 100% );
	-fx-background-insets: 1,2;
	-fx-background-radius: 0.2em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #55595b, linear-gradient(from -50% 50% to 50% 50% , repeat, #B3B3B3, #6F777E 100% );
	-fx-background-insets: 1,2;
	-fx-background-radius: 0.2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:horizontal .thumb:pressed{
    -fx-background-color: #55595b, linear-gradient(from 50% 100% to 50% 50% , repeat, #CCCCCC, #8F9AA5 100% );
}
.scroll-bar:vertical .thumb:hover,
.scroll-bar:vertical .thumb:pressed{
    -fx-background-color: #55595b, linear-gradient(from -50% 50% to 50% 50% , repeat, #CCCCCC, #A0A6AC 100% );
}


/*
.button-accordion {
    -fx-background-color: linear-gradient(from 15% 53% to 15% 120% , #9B9B9B, #DBDBDB 100% );
    -fx-background-color: red;
}
*/

/* und eigenen Sachen */
/*.btnTab, .btnTab-sel{
    -fx-text-fill: red;
}
.btnTab-sel{
    -fx-text-fill: -text-color-blue;
}*/

/*.btnFunction{
    -fx-background-color: #c3c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #6a6a6a 50%, #6d6d6d 100%),
        radial-gradient(center 50% -40%, radius 200%, #545454 45%, rgba(50,50,50,0) 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}*/

/* RangeSlider*/
.range-slider .range-bar {
    /*-fx-background-color: -fx-text-base-color;*/
    -fx-background-color: #dadada;
}

/* Menü-Button */
/* farblich abgesetzter Bereich mit den Menü-Button rechts */
/*
.button-menu {
    -fx-border-color: #6f6f6f;
}
*/

