/*  Programmweites style sheet */
.root {
}

/*Tabelle Sets: Set ist "Abspielen" */
.markSetPlay{
    -fx-text-fill: #ff0000;
}

/* ist die ComboBox mit den Filterprofilen: markiert wenn das Profil aktiv ist*/
.markFilterOk > .list-cell{
    -fx-underline: true;
}

/* ist der Label mit der Anzahl markierter Tabellenzeilen in der Taskbar*/
.lblSelectedLines {
    -fx-border-color: -lblSelectedLines-color-1;
    -fx-border-width: 0 1 0 0;
}

/*Checkbox edit all abo*/
.chk-edit-all > .box {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
 }
.chk-edit-all-text {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

/* ist der abgesetzte Bereich im Download Dialog*/
.downloadDialog {
    -fx-background-color: gainsboro;
}

.thick-chart .chart-series-line {
    -fx-stroke-width: 1px;
}

.downloadInfoGrid {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: -text-color-blue;
    -fx-background-radius: 5;
}

.update-grid-cell {
    -fx-background-color: white ;
}

/*LoadFilmlistButton wenn neue Liste verfügbar*/
.buttonLoadFilmlistNewList {
    -fx-background-insets: 0,4,4;
    -fx-background-color: #004b91, -lin-grad-1, -rad-grad-1;
    -fx-text-fill: -text-color-blue;
}

/*Button unter der Tabelle Filme*/
.setButton{
    -fx-border-width: 2;
    -fx-padding: 3 11 3 11;
}
.setButton:pressed{
    -fx-border-width: 1;
    -fx-padding: 4 12 4 12;
}