/*  style sheet for the dark-theme */


/* ist die abgesetzte Zeile im Downloaddialog */
.downloadDialog {
    -fx-background-color: #64696b;
}

.channel-button {
    -fx-font-size: 1em;
}


/* Download Chart */
.chart-plot-background {
    -fx-background-color: #5e6264;
}
.chart-alternative-row-fill {
    -fx-fill: #686d6f;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

