/*  style sheet for the dark-theme */

.root {
}

/*ist der Text in Downloads unten in den Tabs*/
.downloadGuiMediaText{
    -fx-fill: #e7e7e7;
}

/* tab download: infobereich */
.downloadInfoGrid {
    -fx-background-color: #82888b;
}
/* ist die abgesetzte Zeile im Downloaddialog */
.downloadDialog {
    -fx-background-color: #64696b;
}

.update-grid-cell {
    -fx-background-color: #46494c ;
}

/*LoadFilmlistButton wenn neue Liste verfügbar*/
.buttonLoadFilmlistNewList {
    -fx-text-fill: #cce0ea;
}

/* sind die Label in der Statusleiste */
.lblSelectedLines {
    -fx-background-color: #3a3a3a;
}
.lblInfo {
    -fx-background-color: #3a3a3a;
}

