/*  Programmweites style sheet */

.root {
    -tab-button-1: #d6d6d6;
    -tab-button-2: #e6e6e6;
    -tab-button-3: rgba(230,230,230,0);

    -filter-ok-1: #c3c4c4;
    -filter-lin-grad-1: linear-gradient(from 50% 17% to 50% 114% , repeat, #E6E6E6, #CBD8EB 100% );

    -lin-grad-1: linear-gradient(from 0% 0% to 100% 100%, -tab-button-1 50%, white 100%);
    -rad-grad-1: radial-gradient(center 50% -40%, radius 200%, -tab-button-2 45%, -tab-button-3 50%);

    -lin-grad-btn-func-1: linear-gradient(from 0% 0% to 100% 100%, -tab-button-1 40%, white 90%);
    -rad-grad-btn-func-1: radial-gradient(center 80% -70%, radius 200%, -tab-button-2 35%, -tab-button-3 40%);

    -style-tab-border-color-1: #4169E1; /*royalblue*/
    -style-tab-border-color-2: #3a5fcc;

    -style-extra-pane-color: derive(-fx-base,-5%);

    -lblSelectedLines-color-1: derive(-fx-base, -40%);
    -lblSelectedLines-color-2: derive(-fx-base, -10%);

    -text-color-blue: #002fbe;

}

/* CheckBoxCell: CheckBoxen in der Tabelle*/
.checkbox-table * {
    -fx-background-color: transparent;
}
.checkbox-table:disabled {
    -fx-opacity: 1;
}
.checkbox-table .box {
    -fx-border-radius: 10px;
    -fx-border-color: lightgray;
}
.checkbox-table:selected .box {
    -fx-border-color: steelblue;
}
.checkbox-table:selected .mark {
    -fx-background-color: black;
}

/* ist nur ein Strich als Trenner: im FilmFilter*/
.pseperator1 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0; /* makes really one-pixel-border */
    -fx-border-color: steelblue;
}

.pseperator2 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0; /* makes really one-pixel-border */
    -fx-border-color: steelblue;
}

.pseperator3 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 3 0; /* makes really one-pixel-border */
    -fx-border-color: steelblue;
}

/* Rahmen für Dialoge */
.dialog-title {
    -fx-background-insets: 10;
    -fx-border-color: lightgray;
    -fx-border-insets: 0;
    -fx-border-width: 2;
    -fx-padding: 10 5px;
    -fx-text-alignment: center;
    -fx-alignment: center ;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}
.dialog-border {
    -fx-background-insets: 10, 40;
    -fx-border-color: lightgray transparent lightgray transparent, steelblue;
    -fx-border-insets: 0, 15;
    -fx-border-width: 20 5, 10 3;
    -fx-padding: 20px;
}

.dialog-only-border {
    -fx-background-insets: 0, 40;
    -fx-border-color: lightgray transparent lightgray transparent, steelblue;
    -fx-border-insets: 15, 30;
    -fx-border-width: 20 5, 10 3;
    -fx-padding: 20px;
}
.dialog-filminfo {
     -fx-background-insets: 10, 40;
     -fx-border-color: lightgray transparent lightgray transparent, steelblue;
     -fx-border-insets: 0, 15 5;
     -fx-border-width: 20 5, 10 3;
     -fx-padding: 0px;
}

/* tabs of the tabpane*/
.tab .tab-label {
    -fx-text-alignment: center;
    -fx-alignment: center ;
}
.tab-pane {
    -fx-border-width: 1;
    -fx-border-color: -text-color-blue;
 }
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 0 10 0 10;

    -fx-border-width: 1, 2;
    -fx-border-radius: 8 8 0 0, 6 6 0 0;
    -fx-border-insets: 0 3 0 0, 3 6 3 3;
    -fx-border-color: -style-tab-border-color-1, transparent;

    -fx-background-radius: 0, 10 10 0 0, 6 6 0 0;
    -fx-background-insets: 0, 0 3 0 0, 2 5 2 2;
    -fx-background-color:
             transparent,
             -lin-grad-1,
             -rad-grad-1;
    -fx-text-fill: black;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-border-width: 3, 2;
    -fx-border-color: -style-tab-border-color-1, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-border-width: 2, 1, 2;/* 3 Rahmen, damit die "Gesamtbreite" gleich bleibt */
    -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:pressed {
    -fx-border-width: 1, 2;
    -fx-border-color: -style-tab-border-color-1, -style-tab-border-color-2;
 }

.tab .tab-label {
     -fx-text-fill: black;
}
.tab:selected .tab-label {
     -fx-text-fill: -text-color-blue;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected  .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


/* damit leere Tabellenzeilen nicht angezeigt werden */
.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


/* Button "Filme", "Downloads", "Abos" */
.btnTab, .btnTab-sel{
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 10;
}

.btnTab:focused{
    -fx-background-color: #355c8c, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnTab:hover{
    -fx-background-insets: -1.0,1,1;
}
.btnTab:focused:hover{
    -fx-background-insets: -1.5,1,1;
}

.btnTab-sel{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.3,1,1;
    -fx-text-fill: -text-color-blue;
}
.btnTab-sel:focused{
    -fx-background-insets: -1,1,1;
}
.btnTab-sel:hover{
    -fx-background-insets: -1.5,1,1;
}
.btnTab-sel:focused:hover{
    -fx-background-insets: -1.6,1,1;
}

/* Button "Filmliste" */
.btnFilmlist{
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 5;
}

.btnFilmlist_{
    -fx-background-color: #3a74d4,
        linear-gradient(from 0% 0% to 100% 100%, #c7d4d4 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #c7d4d4 45%, -tab-button-3 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,2,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 5;
}

.btnFilmlist:focused{
    -fx-background-color: #8d8d8d, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnFilmlist:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.8,1,1;
}
.btnFilmlist:focused:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -1.4,1,1;
}

.btnFilmlist:pressed{
     -fx-background-color: #5d5e8c,
         linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 40%, white 90%),
         radial-gradient(center 80% -70%, radius 200%, #e6e6e6 35%, -tab-button-3 40%);
}

/* Startdialog beim aller ersten Start */
.btnStartDialog{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5 10;
    -fx-border: 5;
}
.btnStartDialog:focused{
    -fx-background-color: #8d8d8d, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnStartDialog:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.8,1,1;
}
.btnStartDialog:focused:hover{
    -fx-background-color: #98abc4, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -1.4,1,1;
}

.btnStartDialogSel{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: -text-color-blue;
}
.btnStartDialogSel:focused{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.5,1,1;
}
.btnStartDialogSel:hover{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.8,1,1;
}
.btnStartDialogSel:focused:hover{
    -fx-background-color: -text-color-blue, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -1.4,1,1;
}

/* Menü-Button */
.btnFunction{
    -fx-background-color: #c3c4c4, -lin-grad-1, -rad-grad-1;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5;
    -fx-border: 5;
}
.btnFunction > .arrow-button {
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}
.btnFunction > .arrow-button > .arrow {
    /*Pfeil ausblenden*/
    -fx-padding: 0;
}
.btnFunction:focused{
    -fx-background-color: #4898de, -lin-grad-1, -rad-grad-1;
    -fx-background-insets: -0.4,1,1;
}
.btnFunction:hover{
    -fx-background-color: #005ab0, -lin-grad-btn-func-1, -rad-grad-btn-func-1;
    -fx-background-insets: -0.8,1,1;
}
.btnFunction:focused:hover{
    -fx-background-color: #005ab0, -lin-grad-btn-func-1, -rad-grad-btn-func-1;
    -fx-background-insets: -1.2,1,1;
}

/* ist die ComboBox mit den Filterprofilen: markiert wenn das Profil aktiv ist*/
.markFilterOk > .list-cell{
-fx-underline: true;
}

/* ist der Label mit der Anzahl markierter Tabellenzeilen in der Taskbar*/
.lblSelectedLines {
    -fx-background-color: -lblSelectedLines-color-1, -lblSelectedLines-color-2;
    -fx-background-insets: 0,1;
    -fx-background-radius: 3,3;
    -fx-padding: 2 12 2 12;
}

/*Checkbox edit all abo*/
.chk-edit-all > .box {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
 }
.chk-edit-all-text {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

/* ist die Senderauswahl (Mehrfachauswahl) */
.channel-menu{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.channel-menu > .arrow-button > .arrow {
    -fx-background-color: #0b99c9;
}

/* der allgemeine Rest*/
.combo-box-base{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.combo-box .arrow-button{
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}
.combo-box > .list-cell{
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}
.combo-box .text-input{
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

.alignCenter {
  -fx-alignment: center;
}
.alignCenterRight {
  -fx-alignment: center-right;
}
.alignCenterLeft {
  -fx-alignment: center-left;
}

.titled-pane > .title {
    -fx-font-weight: bold;
}
.titled-pane:collapsed > .title {
    -fx-font-weight: normal;
}

/* ist der abgesetzte Bereich im Download Dialog*/
.downloadDialog {
    -fx-background-color: gainsboro;
}

/* sind alle Context-Menüs */
.context-menu {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #939a9f;
}
.menu-item  {
    -fx-background-radius: 5px;
}

/* farblich abgesetzter Bereich in vielen Panes/Dialogen*/
.extra-pane {
    -fx-background-color: -style-extra-pane-color;
}

.thick-chart .chart-series-line {
    -fx-stroke-width: 1px;
}

#infoGrid {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: -text-color-blue;
}

