/*  style sheet for the dark-theme */

/*.root {
    -fx-base: #383b3d;
    -fx-accent: #e7eff7 ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #dfdfdf;
    -fx-faint-focus-color: #efefef22;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color ;

    -tab-button-1: #969696;
    -tab-button-2: #a6a6a6;
    -tab-button-3: rgba(230,230,230,0);

    -filter-lin-grad-1: linear-gradient(from 50% 22% to 50% 120% , reflect, #6D6D6D 10% , #8A929E 100% );

    -lin-grad-1: linear-gradient(from 0% 0% to 100% 100%, -tab-button-1 50%, white 100%);
    -rad-grad-1: radial-gradient(center 50% -40%, radius 200%, -tab-button-2 45%, -tab-button-3 50%);

    -lin-grad-btn-func-1: linear-gradient(from 0% 0% to 100% 100%, -tab-button-1 40%, white 90%);
    -rad-grad-btn-func-1: radial-gradient(center 80% -70%, radius 200%, -tab-button-2 35%, -tab-button-3 40%);

    -style-tab-border-color-1: #003ca0;
    -style-tab-border-color-2: #003cff;

    -style-extra-pane-color: derive(-fx-base, 40%);

    -lblSelectedLines-color-1: derive(-fx-base, 70%);
    -lblSelectedLines-color-2: derive(-fx-base, 40%);

    -text-color-blue: #002fbe;
}*/

/* ist die abgesetzte Zeile im Downloaddialog */
.downloadDialog {
    -fx-background-color: #64696b;
}

.channel-button {
    -fx-font-size: 1em;
}

/* ========================================================================== */
/* sind javafx gui Elemente */
/* ========================================================================== */


/*
Download Chart
*/

.chart-plot-background {
    -fx-background-color: #5e6264;
}
.chart-alternative-row-fill {
    -fx-fill: #686d6f;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

