/*  Programmweites style sheet */

.root {
//    -fx-base: rgba(60, 63, 65, 255); // dark
    -style-border-color-1: royalblue;
    -style-border-color-2: royalblue;
    -style-text-color-1: mediumblue;
    -style-border-color-lbl: royalblue;
    -style-border-color-tab: cornflowerblue;
}


/* CheckBoxCell */
.checkbox-table * {
    -fx-background-color: transparent;
}
.checkbox-table:disabled {
    -fx-opacity: 1;
}
.checkbox-table .box {
    -fx-border-radius: 10px;
    -fx-border-color: lightgray;
}
.checkbox-table:selected .box {
    -fx-border-color: steelblue;
}
.checkbox-table:selected .mark {
    -fx-background-color: black;
}

.pseperator1 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0; /* its make really one-pixel-border */
    -fx-border-color: steelblue;
}

.pseperator2 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0; /* its make really one-pixel-border */
    -fx-border-color: steelblue;
}

.pseperator3 .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 3 0; /* its make really one-pixel-border */
    -fx-border-color: steelblue;
}

/* Rahmen */
.dialog-title-border {
    -fx-background-insets: 10;
    -fx-border-color: lightgray;
    -fx-border-insets: 0;
    -fx-border-width: 5 1;
    -fx-padding: 5px;
}
.dialog-border {
    -fx-background-insets: 10, 40;
    -fx-border-color: lightgray transparent lightgray transparent, steelblue;
    -fx-border-insets: 0, 15;
    -fx-border-width: 20 5, 10 3;
    -fx-padding: 20px;
}

.dialog-only-border {
    -fx-background-insets: 0, 40;
    -fx-border-color: lightgray transparent lightgray transparent, steelblue;
    -fx-border-insets: 15, 30;
    -fx-border-width: 20 5, 10 3;
    -fx-padding: 20px;
}
.dialog-filminfo {
     -fx-background-insets: 10, 40;
     -fx-border-color: lightgray transparent lightgray transparent, steelblue;
     -fx-border-insets: 0, 15 5;
     -fx-border-width: 20 5, 10 3;
     -fx-padding: 0px;
}

.tab .tab-label {
    -fx-text-alignment: center;
    -fx-alignment: center ;
}
.tab-pane {
    -fx-border-width: 1;
    -fx-border-color: -style-border-color-tab;
 }
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 0 10 0 10;
    -fx-border-width: 1, 2;
    -fx-border-radius: 12 12 0 0, 10 10 0 0;
    -fx-border-insets: 0, 4;
    -fx-border-color: -style-border-color-1, transparent;
    -fx-background-radius: 12 12 0 0, 10 10 0 0;
    -fx-background-insets: 0;
    -fx-background-color:
             linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
             radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: black;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-border-width: 2, 1, 2;
    -fx-border-color: -style-border-color-1, transparent, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-border-width: 2, 1, 2;
    -fx-border-color: -style-border-color-2, -style-border-color-1, transparent;
 }
.tab-pane > .tab-header-area > .headers-region > .tab:pressed {
    -fx-border-width: 1, 2, 2;
    -fx-border-color: -style-border-color-1, -style-border-color-2, transparent;
 }

.tab:selected .tab-label {
     -fx-text-fill: -style-text-color-1;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected  .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


/* damit leere Tabellenzeilen nicht angezeigt werden */
.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.contPanel {
    -fx-border-color: blue;
    -fx-background-color: white;
}

.btnTab{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: #c3c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 10;
}

.btnTab:hover{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: #5d5e8c,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 10;
}

.btnTab:pressed{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: blue,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 10;
}

.btnTab-sel{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: blue,
         linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: blue;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 10;
}

.markFilterOk {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: #c3c4c4,
        linear-gradient(from 50% 17% to 50% 114% , repeat, #E6E6E6, #CBD8EB 100% );
    -fx-background-insets: 0,1,1;
}

.btnFilmlist{
    -fx-background-color: #c3c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 5;
}

.btnFilmlist_{
    -fx-background-color: #3a74d4,
        linear-gradient(from 0% 0% to 100% 100%, #c7d4d4 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #c7d4d4 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,2,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 10 20 10 20;
    -fx-border: 5;
}

.btnFilmlist:hover{
     -fx-background-color: #f3f4f4,
         linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}

.btnFilmlist:pressed{
     -fx-background-color: #5d5e8c,
         linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 40%, white 90%),
         radial-gradient(center 80% -70%, radius 200%, #e6e6e6 35%, rgba(230,230,230,0) 40%);
}

.btnStartDialog{
    -fx-font-weight: bold;
    -fx-alignment: center ;
    -fx-background-color: #c3c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5 10;
    -fx-border: 5;
}

.btnStartDialogSel{
    -fx-background-color: blue,
            linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: blue;
}

.btnFunction{
    -fx-background-color: #c3c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5;
    -fx-border: 5;
}

/*Pfeil ausblenden*/
.btnFunction > .arrow-button {
    -fx-padding: 0;
}

.btnFunction > .arrow-button > .arrow {
    -fx-padding: 0;
}

.btnFunction:hover{
    -fx-background-color: #f3f4f4,
         linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}

.btnFunction:pressed{
     -fx-background-color: #5d5e8c,
         linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 40%, white 90%),
         radial-gradient(center 80% -70%, radius 200%, #e6e6e6 35%, rgba(230,230,230,0) 40%);
}

.lblSelectedLines {
    -fx-background-color: #c4c4c4,
        linear-gradient(from 0% 0% to 100% 100%, #d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-insets: 0,1,1;
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-padding: 4 14 4 14;
}

/*Checkbox edit all abo*/
.chk-edit-all > .box {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 1;
    -fx-border-radius: 5;
 }
.chk-edit-all-text {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.alignCenter {
  -fx-alignment: center;
}
.alignCenterRight {
  -fx-alignment: center-right;
}
.alignCenterLeft {
  -fx-alignment: center-left;
}

.titled-pane > .title {
    -fx-font-weight: bold;
}
.titled-pane:collapsed > .title {
    -fx-font-weight: normal;
}

